{% extends 'staff_page.html' %}

{% block content %}
    <div class='row-fluid'>
        <div class='span12'>
            <br>
            bracket:<strong> {{bracket.name}} </strong>
            <br>
            status: {{bracket.status}}
            <br>
            <table>
                <tr>
                    <td>registration page: &nbsp;</td>
                    <td><a href='{{registration_link|safe}}'>{{registration_link|safe}}</a></td>
                </tr>
                <tr>
                    <td>voting page:</td>
                    <td><a href='{{voting_link|safe}}'>{{voting_link|safe}}</a></td>
                </tr>
            </table>
            <br>
            <form id='the_form' action="{% url 'tourney:bracket:manage_bracket' bracket=bracket.id %}" method="post">{% csrf_token %}
            {{ edit_bracket_form.as_p }}
            <input type="submit" value="Submit"/> 
            </form>


        </div>
    </div>
{% endblock %}



