{% extends 'mytournament/base_tournament.html' %}

{% block bottom %}

{% if status == 'MESSAGE_NON_PART' %}  
    You are not yet a participant in the online voting for this tournament.
{% endif %} 

{% if status == 'MESSAGE_WAIT' %}  
    Hold your horses! (stop back in 1/2 an hour)
    <br>
    <br>
    <table>
    <tr><th>
    Consider the following to understand why you have to wait:
    </th></tr>
    <tr><td>
    <ol>
    <li>
    Voting must take place in rounds in order for the winners advance.
    </li>
    <li>
    A new round of pairings can not be made until the previous round has completed.
    </li>
    <li>
    The current round of pairings have already been distributed to voters who logged in before you.
    </li>
    </ol>
    </td></tr></table>
    <br>
    <br>
{% endif %} 

{% if status == 'MESSAGE_THANKS' %}  
    Thanks for voting
{% endif %} 

{% if status == 'MESSAGE_WINNER' %}  
    winner of voting!
{% endif %} 

{% if status == 'MESSAGE_VOTE' %}  
    Review these two problems and vote for the one which <b><em>you think is going to be more important to understand </em></b> in order to do well on the upcoming exam.
    <form action="." method="post" enctype="multipart/form-data">{% csrf_token %}

        <ul>
            <!-- 
                messy snag from online example 
                http://stackoverflow.com/questions/6218299/django-form-radio-input-layout
            -->
            {% for choice in form.vote.field.choices %}
            <li>
                <label for="id_{{ form.vote.html_name }}_{{ forloop.counter0 }}">
                    <input type="radio"
                        id="id_{{ form.vote.html_name }}_{{ forloop.counter0 }}"
                        value="{{ choice.0 }}"
                        name="{{ form.vote.html_name }}" />
                    {{ choice.1|safe}}
                    {% comment %}
                    {% if choice.0 == 'one' %}
                        {# Necessary field here #}
                        {{ form.bar }}
                    {% else %}
                        No Textbox
                    {% endif %}
                    {% endcomment %}
                </label>
            </li>
            {% endfor %}
        </ul>

        <input type='submit' value='Submit Vote'></input>
    </form>
{% endif %} 



{% endblock %}



