{% extends 'mytournament/base_tournament.html' %}

{% block bottom %}

{% if status == 'MESSAGE_NON_PART' %}  
    You are not yet a participant in the online voting for this tournament.
{% endif %} 

{% if status == 'MESSAGE_WAIT' %}  
    Hold your horses! (stop back in 15-20 minutes)
    <br>
    <br>
    <strong>Consider the following to understand why you have to wait:</strong>
    <br>
    <br>
    <ol>
    <li>
    Voting must take place in rounds in order for the winners to advance.
    </li>
    <li>
    A new round of pairings can not be made until the previous round has completed.
    </li>
    <li>
    The current round of pairings have already been distributed to voters who logged in before you.
    </li>
    </ol>
    <br>
    <br>
{% endif %} 

{% if status == 'MESSAGE_THANKS' %}  
    Thanks for voting, you will find the winner at this same link as soon as the last vote is cast.
{% endif %} 

{% if status == 'MESSAGE_WINNER' %}  
    Thanks for participating!
    <br>
    <br>
    <strong>The winning submission is: </strong> <a href='{{winner}}' data-log-category='external-link' data-log-action='{{winner}}' data-log-label='winner' target='_blank'>{{winner}}</a>
{% endif %} 

{% if status == 'MESSAGE_VOTE' %}  
    Review these two submissions, <strong><em> give it some thought,</em></strong> and vote for the one which <b><em>you think is better. </em></b>
    <br>
    <br>
    <form action="." method="post" enctype="multipart/form-data">{% csrf_token %}
        <ul>
            <!-- 
                messy snag from online example 
                http://stackoverflow.com/questions/6218299/django-form-radio-input-layout
            -->
            {% for choice in form.vote.field.choices %}
            <li>
                <label for="id_{{ form.vote.html_name }}_{{ forloop.counter0 }}">
                    <input type="radio"
                        id="id_{{ form.vote.html_name }}_{{ forloop.counter0 }}"
                        value="{{ choice.0 }}"
                        name="{{ form.vote.html_name }}" />
                    {{ choice.1|safe}}
                    {% comment %}
                    {% if choice.0 == 'one' %}
                        {# Necessary field here #}
                        {{ form.bar }}
                    {% else %}
                        No Textbox
                    {% endif %}
                    {% endcomment %}
                </label>
            </li>
            {{form.bout}}
            {% endfor %}
        </ul>
    <br>
        <input type='submit' value='Submit Vote'></input>
    </form>
{% endif %} 



{% endblock %}



